#! /bin/bash

module load bioinf/bedtools/2.22.1
module load bioinf/bismark/0.13.1
module load bioinf/bowtie2/2.2.3
module load bioinf/bwa/0.7.10
module add bioinf/samtools/1.1
module add bioinf/STAR/2.4.0i

#CALLS AND PROPERTIES

SERVER_SUBMIT="qsub -N" 
#only need to change if running on server and in parallel
#if server is not used pls change it to "" (empty string)
#-N is the option to provide a job name (pls change according to server)

THREAD_MEM="5G" #maximum required memory per thread
BISMARK_MEM=1024
RUN_THREAD=8 #typically 1 cpu can have 2 threads
let BOWTIE_THREAD=$RUN_THREAD/4

JAVA_XMS="-Xms4G"
JAVA_XMX="-Xmx16G"

#FILES/DIRECTORIES
TEMP_DIR="/brcwork/lorincz_lab/tleung/"
GENOME_DIR="/brcwork/lorincz_lab/jrichardalbert/reference_genomes"
REFMAPS="/brcwork/lorincz_lab/jrichardalbert/development/refmaps"
#TODO: Please go to "SRAtoBW_functions.sh" and edit the function "setGenome" for the path to specific reference genome directory for specific species
ILLUMINA_ADAPATORS_ALL="/brcwork/lorincz_lab/jrichardalbert/reference_genomes/adapters/adapters.fa"
MINICONDA=/home/tleung/miniconda/bin/


#TOOLS NEEDED FOR MasterDat.sh

JAVA="java -jar $JAVA_XMS $JAVA_XMX"

ALEA="$JAVA /brcwork/bioinf/tools/alea-1.2.1/bin/alea.jar"
BAMCOVERAGE="$MINICONDA/bamCoverage" 
BAMTOFASTQ="bamToFastq"
BEDGRAPHTOBW="$MINICONDA/bedGraphToBigWig"
BEDTOOLS="bedtools"
BISMARK="bismark"
BISMARK_METH_EXTRACT="bismark_methylation_extractor"
BOWTIE2="bowtie2"
BWA="bwa"
EFETCH="$MINICONDA/efetch" 
ESEARCH="$MINICONDA/esearch"
FASTERQDUMP="$MINICONDA/fasterq-dump"
HICUP="$MINICONDA/hicup"
PICARD="$JAVA /brcwork/bioinf/tools/picard-tools-1.128/picard.jar"
SAMTOOLS="samtools"
STAR="STAR"
TRIMMOMATIC="$JAVA /brcwork/bioinf/tools/Trimmomatic-0.32/trimmomatic-0.32.jar"


#TOOLS NEEDED FOR file_functions.sh
BWAVGOVERBED="$MINICONDA/bigWigAverageOverBed" 


