#!/bin/bash

REFMAPS="/brcwork/lorincz_lab/jrichardalbert/development/refmaps"
TRIMMOMATIC="java -jar -Xms4G -Xmx16G /brcwork/bioinf/tools/Trimmomatic-0.32/trimmomatic-0.32.jar"
ADAPTERS="/brcwork/lorincz_lab/jrichardalbert/reference_genomes/adapters/adapters.fa"
BOWTIE2="/brcwork/bioinf/tools/bowtie2-2.2.3/bowtie2"
STAR="/brcwork/bioinf/tools/STAR_2.4.0i/bin/STAR"
TOPHAT2="/brcwork/bioinf/tools/tophat-2.1.1/tophat2"
CUFFLINKS="/brcwork/bioinf/tools/cufflinks-2.1.1/cufflinks"
BEDTOOLS="/brcwork/bioinf/tools/bedtools-2.22.1/bin/bedtools"
SAMTOOLS="/brcwork/bioinf/tools/samtools-1.1/bin/samtools"
ALEA="java -jar -Xms4G -Xmx8G /brcwork/bioinf/tools/alea-1.2.1/bin/alea.jar"

CLEANSAM="java -jar -Xms4G -Xmx16G /brcwork/bioinf/tools/picard-tools-1.92/CleanSam.jar QUIET=true"
SAMTOBAM="java -jar -Xms4G -Xmx16G /brcwork/bioinf/tools/picard-tools-1.92/SamFormatConverter.jar QUIET=true"
SORTSAM="java -jar -Xms4G -Xmx16G /brcwork/bioinf/tools/picard-tools-1.92/SortSam.jar QUIET=true"
RNAMETRICS="java -jar -Xms4G -Xmx16G /brcwork/bioinf/tools/picard-tools-1.92/CollectRnaSeqMetrics.jar"
MARKDUPES="java -jar -Xms4G -Xmx16G /brcwork/bioinf/tools/picard-tools-1.92/MarkDuplicates.jar QUIET=true VALIDATION_STRINGENCY=LENIENT VERBOSITY=ERROR"
BEDGRAPH_TO_BIGWIG="/brcwork/bioinf/scripts/bedGraphToBigWig"
PRESEQ="/brcwork/bioinf/tools/preseq-1.0.2/bin/preseq"


