#! /bin/bash

#TODO sra-toolkit requires onetime setup (vdb-config)?

#### USER ACTION REQUIRED  ####
#Define directories and files
GROUP="def-mlorincz" #TODO should this be SLURM_JOB_ACCOUNT ?
PROJECT_DIR="/project/$GROUP/"
TEMP_DIR="$SCRATCH"
GENOME_DIR="$PROJECT_DIR/reference_genomes"
REFMAPS="$PROJECT_DIR/reference_genomes/refmaps"
ILLUMINA_ADAPATORS_ALL="$PROJECT_DIR/reference_genomes/adapters/adapters.fa"
TRIMMOMATIC=""
PICARD=""

#Load readily available modules on server that is needed for this pipeline
#All required software for the MasterDAT pipeline is listed below
function loadModules {
	module purge &> /dev/null #removing all loaded modules & removing msg given by module purge
	module load StdEnv/2020
	module load gcc/9.3.0
	module load bedtools/2.29.2
	module load bowtie2/2.4.4
	module load bwa/0.7.17
	module load picard/2.26.3
	module load samtools/1.10
	module load star/2.7.9a
	module load trimmomatic/0.39
	module load sra-toolkit/2.10.8 #2022-01-20 Tried downgrading to fix prefetch errors
	module load bismark/0.22.3
	module load kentutils/401

	
	JAVA_XMS="-Xms4G"
	NUM=${THREAD_MEM//[MG]/}
	SCALE=${THREAD_MEM//*[0-9]/}
	let MEM=$RUN_THREAD*$NUM*9/10
	MEM=$MEM$SCALE
	JAVA_XMX="-Xmx$MEM"
	JAVA="java -jar $JAVA_XMS $JAVA_XMX"

	TRIMMOMATIC="$JAVA $EBROOTTRIMMOMATIC/trimmomatic-0.39.jar"
	PICARD="$JAVA $EBROOTPICARD/picard.jar"
	
		
	let SORT_MEM=$NUM*3/4
	SORT_MEM=$SORT_MEM$SCALE
	let BISMARK_THREAD=$RUN_THREAD/4
}



#Define server job submission properties
#SERVER_SUBMIT="sbatch -J"
THREAD_MEM="4G" #maximum required memory per thread
SORT_MEM="3G" #samtools sort should be allocated ~75% of available memory (it overruns)
RUN_THREAD=8 #typically 1 cpu can have 2 threads



#Set variables for tool calling used in MasterDAT.sh


##ALEA="/brcwork/bioinf/tools/alea-1.2.1/bin/alea"
BAM2FASTQ="bamToFastq"
BEDGRAPHTOBW="bedGraphToBigWig"
BEDTOOLS="bedtools"
BOWTIE2="bowtie2"
BWA="bwa"
FASTERQDUMP="fasterq-dump"
SAMTOOLS="samtools"
STAR="STAR"
BISMARK="bismark"
BISMARK_METH_EXTRACT="bismark_methylation_extractor"
PREFETCH="$PROJECT_DIR/scripts/utilities/sratoolkit.2.11.3-ubuntu64/bin/prefetch"

EDIRECT_PATH="$PROJECT_DIR/scripts/utilities/edirect/"
EFETCH=$EDIRECT_PATH"efetch"
ESEARCH=$EDIRECT_PATH"esearch"

BAMCOVERAGE="$PROJECT_DIR/scripts/utilities/miniconda3/bin/bamCoverage" 

#HICUP="hicup"



 
#Set variables for tool calling used in file_functions.sh
#This is optional if you don't plan to use the functions within files_functions.sh
BWAVGOVERBED="bigWigAverageOverBed" 



