#! /bin/bash

module purge

#TODO: load readily available modules on server that is needed for this pipeline
#All required software for the MasterDAT pipeline is listed below
module load java/13.0.1
module load bedtools/2.27.1
module load bowtie2/2.3.4.1
module load bwa/0.7.17
module load picard/2.20.6
module load samtools/1.10
module load star/2.6.1a
module load trimmomatic/0.36



##### CALLS AND PROPERTIES #####
#TODO: provide submission call and option to assign a job name according to the server
SERVER_SUBMIT="sbatch -J"

#TODO: Alter mem and threads to own default values
THREAD_MEM="5G" #maximum required memory per thread
BISMARK_MEM=1024
RUN_THREAD=16 #typically 1 cpu can have 2 threads
let BOWTIE_THREAD=$RUN_THREAD/4

JAVA_XMS="-Xms4G"
JAVA_XMX="-Xmx16G"



##### FILES/DIRECTORIES #####
#TODO: Change locations to where your files are stored
TEMP_DIR="$HOME/scratch/"
GENOME_DIR="/project/def-mlorincz/reference_genomes"
REFMAPS="/project/def-mlorincz/reference_genomes/refmaps"
ILLUMINA_ADAPATORS_ALL="/home/tleung/projects/def-mlorincz/reference_genomes/adapters/adapters.fa"



##### TOOLS NEEDED FOR MasterDAT.sh #####
#TODO: Alter the calls for the different software, mainly if module loading was changed or miniconda wasn't used

JAVA="java -jar $JAVA_XMS $JAVA_XMX"

##ALEA="/brcwork/bioinf/tools/alea-1.2.1/bin/alea"
BAM2FASTQ="bamToFastq"
BAMCOVERAGE="bamCoverage" 
BEDGRAPHTOBW="bedGraphToBigWig"
BEDTOOLS="bedtools"
BISMARK="bismark"
BISMARK_METH_EXTRACT="bismark_methylation_extractor"
BOWTIE2="bowtie2"
BWA="bwa"
EFETCH="efetch"
ESEARCH="esearch"
FASTERQDUMP="fasterq-dump"
HICUP="hicup"
PICARD="$JAVA $EBROOTPICARD/picard.jar"
SAMTOOLS="samtools"
STAR="STAR"
TRIMMOMATIC="$JAVA $EBROOTTRIMMOMATIC/trimmomatic-0.36.jar"



##### TOOLS NEEDED FOR file_functions.sh #####
#This is optional if you don't plan to use the functions within files_functions.sh
BWAVGOVERBED="bigWigAverageOverBed" 



