#! /bin/bash

module purge

module load java/13.0.1
module load bedtools/2.27.1
module load bowtie2/2.3.4.1
module load bwa/0.7.17
module load picard/2.20.6
module load samtools/1.10
module load star/2.6.1a
module load trimmomatic/0.36


#CALLS AND PROPERTIES
SERVER_SUBMIT="sbatch -J"
#only need to change if running on server and in parallel
#provide option to assign a job name (pls change according to server)


THREAD_MEM="5G" #maximum required memory per thread
BISMARK_MEM=1024
RUN_THREAD=6 #typically 1 cpu can have 2 threads
let BOWTIE_THREAD=$RUN_THREAD/4

JAVA_XMS="-Xms4G"
JAVA_XMX="-Xmx16G"

#FILES/DIRECTORIES
TEMP_DIR="/home/tleung/scratch/"
GENOME_DIR="/project/def-mlorincz/reference_genomes"
REFMAPS="/project/def-mlorincz/reference_genomes/refmaps"
#TODO: Please go to "SRAtoBW_functions.sh" and edit the function "setGenome" for the path to specific reference genome within $GENOME_DIR
ILLUMINA_ADAPATORS_ALL="/home/tleung/projects/def-mlorincz/reference_genomes/adapters/adapters.fa"
MINICONDA="/home/tleung/miniconda3/bin/"


#TOOLS NEEDED FOR MasterDat.sh

JAVA="java -jar $JAVA_XMS $JAVA_XMX"

#ALEA="/brcwork/bioinf/tools/alea-1.2.1/bin/alea"
BAM2FASTQ="bamToFastq"
BAMCOVERAGE="$MINICONDA/bamCoverage" 
BEDGRAPHTOBW="$MINICONDA/bedGraphToBigWig"
BEDTOOLS="bedtools"
BISMARK="$MINICONDA/bismark"
BISMARK_METH_EXTRACT="$MINICONDA/bismark_methylation_extractor"
BOWTIE2="bowtie2"
BWA="bwa"
EFETCH="$MINICONDA/efetch"
ESEARCH="$MINICONDA/esearch"
FASTERQDUMP="$MINsICONDA/fasterq-dump"
HICUP="$MINICONDA/hicup"
PICARD="$JAVA $EBROOTPICARD/picard.jar"
SAMTOOLS="samtools"
STAR="STAR"
TRIMMOMATIC="$JAVA $EBROOTTRIMMOMATIC/trimmomatic-0.36.jar"



#TOOLS NEEDED FOR file_functions.sh
BWAVGOVERBED="$MINICONDA/bigWigAverageOverBed" 



