#! /bin/bash

#DEFAULTS
THREAD_MEM="4G"				#maximum required memory per thread
RUN_THREAD=8				#typically 1 cpu can have 2 threads
let BOWTIE_THREAD=$RUN_THREAD/4
BISMARK_MEM=1024
JAVA_XMS="-Xms4G"
JAVA_XMX="-Xmx8G"

#FILES/DIRECTORIES
TEMP_DIR="/Users/jra/bioinf/scratch"
GENOME_DIR="/Users/jra/bioinf/reference_genomes"
FASTQ_DIRECTORY="./fastq"
TRACK_HUB_DIR="./hubs"


REFMAPS="/Users/jra/bioinf/reference_genomes/refmaps"
#TODO: Please go to SRAtoBW_functions.sh and edit the function setGenome for the path to specific reference genome directory for specific species
ILLUMINA_ADAPATORS_ALL="/Users/jra/bioinf/reference_genomes/adapters/adapters.fa"
MINICONDA="/Users/jra/bin/miniconda2/bin"


#TOOLS NEEDED FOR MasterDat.sh
JAVA="java -jar $JAVA_XMS $JAVA_XMX"

MEA="$JAVA /Users/jra/bin/mea/alea.jar"
BAMCOVERAGE="bamCoverage" 
BAMTOFASTQ="bamToFastq"
BEDGRAPHTOBW="bedGraphToBigWig"
BEDTOOLS="bedtools"
BISMARK="bismark"
BISMARK_METH_EXTRACT="bismark_methylation_extractor"
BISMARK_DEDUPLICATE="deduplicate_bismark"
BOWTIE2="bowtie2"
BWA="bwa"
EFETCH="efetch" 
ESEARCH="esearch"
FASTERQDUMP="fasterq-dump"
FASTQDUMP="fastq-dump"
HICUP="$MINICONDA/hicup"
PICARD="picard"
SAMTOOLS="samtools"
STAR="star"
TRIMMOMATIC="trimmomatic"


#TOOLS NEEDED FOR file_functions.sh
BWAVGOVERBED="bigWigAverageOverBed" 


